:root {
    --color-primary: rgb(185, 20, 80);
    --bs-primary-rgb: 185, 20, 80;
    --color-secondary: rgb(128, 128, 128);
}

.section {
    height: 100vh;
    text-align: center;

}

#display-custom {
    display: none;
}

.form-container {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;

}

form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-light {
    color: var(--color-primary);
    font-weight: bold;
    border: 1px solid gray;
}